/**
 * @name Rounded Toolbar
 * @description Rounded Bar Icons
 * @author neostetic
 * @version 1.0
 * @authorId 289846050473377792
 * @invite https://discord.gg/ES5dFQARav
 * @donate https://www.paypal.me/neostetic
 * @website https://github.com/neostetic
 * @source https://github.com/neostetic/Discord-Themes
 * @updateUrl https://raw.githubusercontent.com/neostetic/Discord-Themes/main/SlimDark.theme.css
*/

:root{
    --wordmarkPrimary: 'Round Toolbar'; /* Primary Toolbar Text */
    --wordmarkSecondary: 'neostetic';   /* Secondary Toolbar Text */
    --colorBarDetailRed: #EB3941;       /* Red Color for ShutDown Button ; default: "#EB3941" */
    --baseBarColor: #2D3039;            /* Toolbar Background Color ; default: "#2D3039" */
    --baseBarColorLight: #60677A;       /* Light Color for Toolbar Buttons ; default: "#60677A" */
    --transitionBarDuration: .1s ease;  /* Transition Between States ; default: ".1s ease" */
}

/*
 __   __     ______     ______     ______     ______   ______     ______   __     ______
/\ "-.\ \   /\  ___\   /\  __ \   /\  ___\   /\__  _\ /\  ___\   /\__  _\ /\ \   /\  ___\
\ \ \-.  \  \ \  __\   \ \ \/\ \  \ \___  \  \/_/\ \/ \ \  __\   \/_/\ \/ \ \ \  \ \ \____
 \ \_\\"\_\  \ \_____\  \ \_____\  \/\_____\    \ \_\  \ \_____\    \ \_\  \ \_\  \ \_____\
  \/_/ \/_/   \/_____/   \/_____/   \/_____/     \/_/   \/_____/     \/_/   \/_/   \/_____/

*/

.typeWindows-1za-n7 {
    position: relative;
    margin-top: 0;
    padding-top: 2px;
    background: var(--baseBarColor);
}

.wordmark-2iDDfm {
    display: flex;
    align-items: center;
    padding: 2px 6px;
    height: calc(100% + 4px);
    top: -4px;
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
}

.wordmark-2iDDfm > svg {
    display: none;
}

.wordmark-2iDDfm:before {
    font-size: 10px;
    content: var(--wordmarkPrimary);
}

.wordmark-2iDDfm:after {
    font-size: 10px;
    content: var(--wordmarkSecondary);
    opacity: .3;
    padding-left: 5px;
}

.typeWindows-1za-n7 > div > svg {
    background: var(--baseBarColorLight);
    border-radius: 100%;
    width: 7px;
    height: 7px;
    transition: var(--transitionBarDuration);
    opacity: .3;
}

.typeWindows-1za-n7 > div:hover {
    background: transparent;
}

.winButtonMinMax-PBQ2gm:hover > svg {
    opacity: 1;
}

.winButtonClose-1HsbF-:hover > svg {
    background-color: var(--colorBarDetailRed);
    opacity: 1;
}

.winButtonMinMax-PBQ2gm > svg > rect, .winButtonClose-1HsbF- > svg > polygon {
    opacity: 0;
}